name: Wails build

#  - name: Set output
#    id: vars
#    run: echo "tag=${GITHUB_REF#refs/*/}" >> $GITHUB_OUTPUT
#  - name: Check output
#    env:
#      RELEASE_VERSION: ${{ steps.vars.outputs.tag }}
#    run: |
#      echo Release version: $RELEASE_VERSION
#      echo ${{ steps.vars.outputs.tag }}
#      touch ./../../.env
#      echo "APP_VERSION=$RELEASE_VERSION" >> ./frontend/.env
#      touch ./../../frontend/.env
#      echo "VITE_APP_VERSION=$RELEASE_VERSION" >> ./frontend/.env

on:
  pull_request:
  release:
    types: [created]

jobs:
  package:
    strategy:
      matrix:
        go-version: [ 1.19 ]
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}
      - name: Checkout code
        uses: actions/checkout@v3

      - name: setup node
        uses: actions/setup-node@v2
        with:
          node-version: 18

      - name: Get Wails
        run: go install github.com/wailsapp/wails/v2/cmd/wails@latest

      - name: Install Ubuntu Dependencies
        if: contains(matrix.os, 'ubuntu')
        run: |
          sudo apt-get install -y libgtk-3-dev libwebkit2gtk-4.0-dev

      - name: Build Wails app
        run: |
          wails build

      # Upload artifacts to GitHub Release when it is created
      - if: github.event_name == 'release'
        uses: wangyoucao577/go-release-action@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          goversion: ${{ matrix.go-version }}
          binary_name: "surreal_explorer"
          extra_files: README.md
